{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    {%for location in locations %}
    <a  class="btn btn-default" href="{% url 'location' location.id %}">{{location}}</a>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        {% for image in images %}
        <div class="col-md-3">
            <img src="{{image.image.url}}" alt="Image" class="img-thumbnail" data-toggle="modal"
                data-target="#{{image.id}}" >
                <!-- height="245px"  width="245px" -->
            <p>{{image.description}}</p>
            <p>
                {% for category in image.categories.all %}
                <span class="badge badge-primary" style="font-size:1em;">{{category}}</span>
                {% endfor %}
            </p>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}