{%extends 'base.html'%}

{% block content %}
{{block.super}}
{%if locations%}

<div class="container" style="font-family: 'Caveat', cursive;">
    <h3>This are the available images in :</h3>
</div>
{%for location in locations%}

<div class="container" style="font-family: 'Caveat', cursive;">
    <h3> {{location.location}}</h3>
    <div class="row">
        <div class="container">
            <a data-toggle="modal" data-target="#pic">
                <img src="{{location.image.url}}" class="card-img-top img-responsive styled" alt=" image" width="" style="height:350px; width:350px;">
                <p>{{image.image_name}}</p>
            </a> 
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endif %}
{% endblock %}